{% extends 'master.html' %}

{% block title %}
	<title>Landing page</title>
{% endblock %}

{% block content %}
{#	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, animi assumenda debitis doloremque earum expedita fugit labore nesciunt perspiciatis placeat, provident quam quas qui, reiciendis repellat sapiente sunt. Eius, ipsum.</p>#}
    <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Chebarsiat</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to our reliable Chebarsiat community.</h2>
                <a class="btn btn-primary" href="#about">Let's explore</a>
            </div>
        </div>
    </div>
</header>
{% endblock %}